#!/bin/bash

ldapsearch -p {{ ldap_port }} -D "cn=Directory Manager" -w {{ opendj_password }} -h {{ ldap_host }} -b "dc=ge,dc=co,dc=uk" "(cn={{ group_query }})" | grep uid | cut -d= -f2  | cut -d, -f1
